<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Skill</title>
</head>
<body>
  <h1>Skill Properties</h1>
  <p>ID: <%= skill.id %></p>
  <p>Name: <%= skill.name %></p>
  <p>Need: <%= skill.need ? 'Yes' : 'No' %></p>
  
  <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>

  <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Skill</button>
  </form>
</body>
</html>
